body {
    font-family: 'Roboto', sans-serif;
}

.barra-superior {
    display: none;
}

.tamanho-fonte-nav {
    font-size: 20px;
}

.margem-nav {
    margin-right: 1.5rem;
}

.margem-logo {
    margin-left: 0;
}

.mouse-sobre:hover {
    border-bottom: 1px solid #333333;
}

.carrossel {
    object-fit: cover;
    object-position: 0 50%;
    height: 500px;
}


@media screen and (min-width: 1024px) {
    .margem-logo {
        margin-left: 2rem;
    }

    .barra-superior {
        align-items: center;
        background-color: #f0f0f0;
        border-bottom: 1px solid #333333;
        color: #000000;
        display: block;
        padding: 0.3rem 2rem 0.5rem 0;

    }

    .barra-contato {
        align-items: center;
        display: flex;
        font-size: 1rem;
        justify-content: end;
        margin-top: 0.5rem;
    }

    .barra-contato-texto {
        margin: 0 0.8rem;
    }


    .redes {
        margin: 0 0.5rem;
    }


}