.principal {
    background-image: url("../img2/fundo_02azul.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    /* border-bottom: 1px solid #333333; */
    padding: 1em 1em;
    
}

.principal__titulo {
    color: #FFFFFF;
    font-size: 2em;
    font-weight: 700;
    padding: 1em 1em;
    text-align: center;
}

.principal__subtitulo {
    color: #FFFFFF;
    font-size: 1.3em;
    font-weight: 400;
    padding-bottom: 1em;
    text-align: center;
}

.principal__botao {
    /* background: #F5F5F5; */
    border: 1px solid #FFFFFF;
    border-radius: 5px;
    box-sizing: border-box;
    color: #FFFFFF;
    display: block;
    font-size: 1em;
    font-weight: 700;
    margin-bottom: 2em;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2em;
    max-width: 300px;
    padding: 1rem 3rem;
    text-align: center;
    text-decoration: none;
    width: 70%;
}


@media screen and (min-width: 1024px) {
    .principal {
        align-items: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 60vh;
    }

    .principal__titulo {
        font-size: 3em;
    }

    .principal__subtitulo {
        font-size: 1.6em;
        width: 600px;
        text-align: center;
    }

    .principal__botao:hover {
        background-color: #F5F5F5;
        color: #333333;
    }
}
